h1 {
    color: white;
    text-align: center;
    margin: 0;
    margin-top: 2rem;
}
p {
    color: grey;
    text-align: center;
}

.box {
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    margin: 1px;
    background: #232e3b;
    border: 1px solid #3c4552;
    border-radius: 2px;
}

.box.fill {
    border: none;
    background: #27a641;
}

input[type="date"] {
    display: inline-block;
    padding: 2px 5px;
    border: 1px solid grey;
    border-radius: 2px;
    background-color: #22272e;
    color: grey;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1) brightness(50%);
}

#container {
    display: grid;
    justify-content: center;
    padding-bottom: 3rem;
    max-width: 100%;
    row-gap: 10px;
}

.innerlist {
    max-width: 63rem;
    display: flex;
    flex-wrap: wrap;
    padding-inline: 1rem;
}

html {
    margin: 0;
    padding: 0;
    height: 100dvh;
    background: #22272e;
}

body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#years-diff {
    color: #c4c7d9;
    font-style: italic;
}

#years-diff:hover {
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 1053px) {
    .innerlist {
        max-width: 400px;
    }
}

@media screen and (max-width: 463px) {
    .innerlist {
        max-width: 250px;
    }
}
