h2 {
    color: white;
    text-align: center;
}
p {
    color: grey;
    text-align: center;
}

.box {
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    margin: 1px;
    background: #232e3b;
    border: 1px solid #3c4552;
    border-radius: 2px;
}

.box.fill {
    border: none;
    background: #27a641;
}

input[type="date"] {
    display: inline-block;
    padding: 2px 5px;
    border: 1px solid grey;
    border-radius: 2px;
    background-color: #22272e;
    color: grey;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1) brightness(50%);
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1rem;
}

.singleline {
    display: flex;
}

.innerlist {
    display: grid;
    margin: 10px;
    margin-bottom: 0px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #22272e;
}

#years-diff {
    color: #c4c7d9;
    font-style: italic;
}

#years-diff:hover {
    color: white;
    cursor: pointer;
}
